.Astro-Nav a{
    margin-left: 8.7vw;
}
.Astro-Nav span:nth-child(2){
    width: 50vw;
    font-size: 25px;
}
.Astro-Content{
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.Astro-Form, .Astro-Result{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 75vh;
    border-radius: 30px;
    box-shadow: -10px 10px 20px rgba(3, 27, 30, 0.35);
    padding: 10px; 
    gap: 15px
}
.Astro-Form{
    background-color: rgb(216, 211, 211);
    padding: 1.5rem; 
    font-size: 1.35rem; 
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}
.Astro-Form > span{
    font-size: 1.8rem;
    padding: 0; 
    margin-left: 20px;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}
.Astro-Result{
    background-color: white;
    padding: 1.5rem; 
}
.Astro-Result span{
    font-size: 1.8rem;
    margin-left: 20px;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    color: gray
}
.Form-Content span{
    font-size: 1.4rem;
}
.Form-Calcular{
    display: flex;
    justify-content: center;
    align-items: center;
}
.B-Calcular{
    width: 10vw;
    height: 5vh;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    border: 2px solid gray;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease, border 0.4s ease;
}
.B-Calcular:hover{
    border-color: black;
}
/* CSS para Aproximacion de funciones */
#Form-Tabla{
    margin: 15px 1px 50px 1px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
#Form-Tabla > nav{
    display: flex;
    flex-direction: column;
    height: 4vh;
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    gap: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
}
#Nav-Select{
    padding: 5px;
    margin-top: 50px; 
    font-size: 1.25rem;
    position: relative;
}
#Nav-Select span{
    display: flex; 
    align-items: center;
    gap: 15px
}
#Recta{
    display: inline-block;
    width: 35px;
    height: 0;
    border-top: 3px solid black;
}
#Nav-Select-P{
    padding: 5px 1px 5px 1px;
    cursor: pointer;
    transition: background 0.5s ease;
    border-radius: 5px;
}
#Nav-Select-P:hover{
    background-color: gray;
}
#Parabola{
    display: inline-block;
    width: 25px;
    height: 30px;
    border-top: 3px solid black;
    transform: translateY(30%);
    border-radius: 50%;
}
#Nav-Select-Op{
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 25px;
    position: relative;
}
#Nav-Select-Op div{
    width: 15px;
    height: 0;
    border: 2px solid black;
    border-radius: 10px;
    top: 10px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}
#Nav-Select-Op div:nth-child(1){
    transform: 
        translateX(-40%)
        rotate(30deg)
    ;
}
#Nav-Select-Op div:nth-child(2){
    transform:
        translateX(40%)
        rotate(-30deg)
    ;
}
#Nav-Select-Op div.Nav-Active:nth-child(1){
    transform: 
        translateX(-40%)
        rotate(-30deg)
    ;
}
#Nav-Select-Op div.Nav-Active:nth-child(2){
    transform:
        translateX(40%)
        rotate(30deg)
    ;
}
#Tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inTabla{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 40vh;
    background-color: white;
    border-radius: 20px;
}
#inTabla #X, #inTabla #Y{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inX, #inY{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}
#inputs-X, #inputs-Y{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 4vh;
    border: 3px solid lightgray;
}
#inputs-X > input, #inputs-Y > input{
    text-align: center;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    width: 50px;
    border: none;
}
#X #inputs-X, #Y #inputs-Y{
    border-left: none;
    border-bottom: none;
}
#X #inputs-X:last-child, #Y #inputs-Y:last-child{
    border-bottom: 3px solid lightgray;
}
#Y #inputs-Y{
    border-right: none;
}
#inX button, #inY button{
    width: 30px;
    background-color: rgb(216, 211, 211);
    border: 2px solid gray;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: border 0.4s ease;
}
#inX button:hover, #inY button:hover{
    border-color: black;
}
/* CSS para Ecuaciones de una sola Variables */
#funcion{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    gap: 1px; 
}
#funcion div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
}
.coeficiente{ 
    width: 40px;
    height: 30px;
    text-align: center;
    background-color: rgb(216, 211, 211);
    border: 2px solid gray;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}
.coeficiente:hover{
    border-color: rgb(31, 30, 30);
}
#infuncion div:last-child #variable::after{
    content: ' = 0';
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: auto;
    align-items: center;
    gap: 1px;
}
.buttons button { 
    font-size: 1.2rem;
    width: 25px;
    background-color: rgb(216, 211, 211);
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: border 0.5s ease;
}
.buttons button:hover{
    border-color: rgb(31, 30, 30);
}
/* CSS para Diferenciacion e integracion numerica */
#Astro-Funcion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    margin: 25px 1px 25px 1px
}
#Funciones{
    margin-top: 10px;
}
#Limite{
    position: relative;
    font-size: 5rem;
}
#Limite div{
    position: absolute;
}
#Limite div input{
    text-align: center;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    width: 25px;
    height: 2vh;
    background-color: rgb(216, 211, 211);
    border: 1px solid gray;
    border-radius: 5px;
}
#Limite div:first-child{
    top: -55px;
    left: 50px;
}
#Limite div:nth-child(2){
    top: 25px;
    left: 29px
}
#InFuncion, #InFuncion div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#InFuncion {
    gap: 10px
}
#InFuncion div{
    gap: 5px
}
#InFuncion div:last-child #variable_Integral::after{
    content: ' dx'
}
/* CSS para Ecuaciones Diferenciales */
#Ecuacion{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 35px 1px 35px 1px;
}
#Ecuacion::after{
    margin-top: 2px;
    content: ' = 0';
}
#Ecuacion #Inter{
    display: flex;
    height: 30px;
    align-items: center;
}
#Funcion-X, #Funcion-Y{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#variables, #invariables{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#InFuncion-X, #InFuncion-Y{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#InFuncion-X div, #InFuncion-Y div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#InFuncion-X::before{
    content: '( ';
}
#InFuncion-X::after{
    content: ' )dx';
}
#InFuncion-Y::before{
    content: '( ';
}
#InFuncion-Y::after{
    content: ' )dy';
}
.buttons.R{
    flex-direction: row;
    gap: 5px
}