.Astro-Nav a{
    margin-left: 8.7vw;
}
.Astro-Nav span:nth-child(2){
    width: 50vw;
    font-size: 25px;
}
.Astro-Content{
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.Astro-Form, .Astro-Result{
    width: 45vw;
    height: 75vh;
    border-radius: 30px;
    box-shadow: -10px 10px 20px rgba(3, 27, 30, 0.35);
}
.Astro-Form{
    background-color: rgb(216, 211, 211);
}
.Astro-Result{
    background-color: white;
}