@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgba(230, 230, 229, 0.9);
}
.Astro-Nav{
    width: auto;
    height:  90px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
}
.Astro-Nav span{
    font-size: 45px;
    font-family: 'Cutive Mono', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 25px; 
}
.Astro-Nav a{
    font-size:  20px;
    font-weight: bold;
    font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin-left: 60vw;
    padding: 10px;
    transition: border 0.5s ease;
}
.Astro-Nav a:hover{
    border-color: gray;
}
.Astro-Nav a:visited{
    color: gray
}
.Astro-Nav a:link{
    color: black;
}
.Astro-Content{
    display: flex;
    width: auto;
    height: 90vh;
    padding: 20px;
}
.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 300vw;
    height: 79vh;
    border-right: 2px solid lightgrey;
    padding-top: 10px;
}
.Content:nth-child(4){
    border-right: none;
}
.Title, .Content-Text{
    font-family: 'Quicksand', sans-serif;
}
.Title{
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.Button{
    width: 150px;
    height: 150px;
    background-size: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid lightgrey;
    transition: border 0.5s ease;
}
.Button:hover{
    border-color: gray;
}
.Button.one{
    background-image: url('./icons/cosine.png');
}
.Button.two{
    background-image: url('./icons/equation.png');
    background-size: 130px;
}
.Button.three{
    background-image: url('./icons/calculus.png');
}
.Button.four{
    background-image: url('./icons/integral.png');
}
.Content-Text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;
    height: 50vh;
    font-size: 20px;
}
.Content-Text p{
    color: rgb(70, 69, 69);
}

@media screen and (max-width: 1680px) {
    .Astro-Nav span{
        font-size: 40px;
    }
    .Title{
        font-size: 20px;
    }
    .Button{
        width: 120px;
        height: 120px;
        background-size: 60px;
    }
    .Button.two{
        background-size: 80px;
    }
    .Content-Text{
        font-size: 19px;
    }
}
@media screen and (max-width: 1600px) {
    .Content-Text{
        font-size: 17px
    }
}
@media screen and (max-width: 1440px) {
    body{
        height: 100vh;
        width: 100vw;
    }
    .Astro-Nav span{
        font-size: 35px;
    }
    .Title{
        font-size: 15px;
    }
    .Button{
        width: 100px;
        height: 100px;
        background-size: 50px;
    }
    .Button.two{
        background-size: 70px;
    }
    .Content-Text{
        font-size: 16px;
    }
}