*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    background-color: black;
}

.Wrapper{
    font-size: 150px;
    color: white;
}
